body {
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}

.navbar {
    background-color: transparent !important;
}

.nav_links {
    margin: auto;
}

.navbar-collapse {
    z-index: 1;
    text-align: center;
    background-color: black !important;
}

.nav-item {
    margin: 0px 20px;
}

.navbar-brand {
    margin-left: 10;
    font-size: 22;
    margin: 10px 0px;
    color: white !important;
    font-weight: 900;
}

.navlink {
    padding: 20;
    color: white !important;
}

.nav-item i {
    padding: 15;
    border: 1px solid white;
    border-radius: 50% 50%;
    margin: 0 -20;
    color: white;
}

.navbar a img {
    width: 60px;
    height: 45px;
    margin-top: -10;
}

.nav_icons {
    display: inline-flex !important;
    margin-left: 100;
}

.logo {
    margin-left: 120;
}

.logo a i {
    font-size: 30;
    color: white;
    margin-right: 10;
}

.nav-item:hover {
    font-weight: 900;
    transform: scale(1.05);
}

.icon i {
    position: relative;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);


}

.header_img {
    position: absolute;
    z-index: 1;
    width: 15%;
    height: auto;
    top: 20%;
    left: 15%;
}

.header_img img {
    width: 100%;
    height: auto;
}

.header_info {
    position: absolute;
    width: 55%;
    right: 15%;
    top: 20%;
    text-align: center;
    z-index: 1;
}

.hheader {
    color: white;
    margin-top: 30;
    margin-bottom: 30;
    padding: 0px 3px;
}

.header_info button {
    width: 20%;
    padding: 10;
    margin-top: 20;
    font-size: 20;
    background-color: #2E4053;
}

.header_info i {
    font-size: 27;
    margin-right: 5;
}

.header_info h3 {
    margin-bottom: 0;
    margin-top: 50;
}

#curve {
    position: absolute;
    bottom: -1;
    width: 100vw;
    height: auto;
}

@media(max-width:350px) {

    .navbar-brand,
    .logo {
        margin-left: -5px;
        font-size: 16;
    }

    .logo a i {
        font-size: 20
    }

    header {
        height: 120vh
    }

    .header_img {
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%)
    }

    .header_info {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        padding-right: 15px
    }

    .header_info h1 {
        font-size: 18
    }

    .header_info h2 {
        font-size: 16
    }

    .header_info h3 {
        font-size: 14
    }

    .hheader {
        color: white;
        margin-top: 30;
        margin-bottom: 30;
    }

    .header_info button {
        width: 25%;
        padding: 10;
        margin-top: 20;
        font-size: 20;
    }

    .header_info button {
        width: 40%;
        padding: 3;
        margin-top: 20;
        font-size: 12;
    }

    .header_info i {
        font-size: 16;
        margin-right: 5;
    }

    .nav_icons {
        margin-left: 0;
        margin: auto
    }

    .navbar-toggler {
        background-color: aliceblue;
        font-size: 14;
        margin-right: 2%;
        z-index: 999;
    }

    .icon {
        font-size: 14
    }

    .navbar-collapse {
        background-color: black !important;
        height: 70vh;
        z-index: 9;
        width: 90%;
        margin-right: 5%
    }
}

@media(min-width:350px) and (max-width:450px) {

    .navbar-brand,
    .logo {
        margin-left: -5px;
        font-size: 16;
    }

    .logo a i {
        font-size: 20
    }

    header {
        height: 140vh
    }

    .header_img {
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
    }

    .header_info {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        padding-right: 15px
    }

    .header_info h1 {
        font-size: 18;
    }

    .header_info h2 {
        font-size: 16
    }

    .header_info h3 {
        font-size: 14
    }

    .hheader {
        color: white;
        margin-top: 35;
        margin-bottom: 30;
    }

    .header_info button {
        width: 40% !important;
        padding: 3;
        margin-top: 20;
        font-size: 12;
    }

    .header_info i {
        font-size: 16;
        margin-right: 5;
    }

    .nav_icons {
        margin-left: 0;
        margin: auto
    }

    .navbar-toggler {
        background-color: aliceblue;
        font-size: 14;
        margin-right: 2%;
        z-index: 999;
    }

    .icon {
        font-size: 14
    }

    .navbar-collapse {
        background-color: black;
        height: 70vh;
        z-index: 999;
        width: 90%;
        margin-right: 5%
    }
}

@media(min-width:450px) and (max-width:767px) {

    .navbar-brand,
    .logo {
        margin-left: 0px;
        font-size: 16;
    }

    .logo a i {
        font-size: 20;
        margin-left: 40
    }

    .header_img {
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        max-width: 200
    }

    .header_info {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        padding-right: 15px
    }

    header {
        height: 130vh;
    }

    .header_info h1 {
        font-size: 20;
    }

    .header_info h2 {
        font-size: 18
    }

    .header_info h3 {
        font-size: 16
    }

    .hheader {
        color: white;
        margin-top: 30;
        margin-bottom: 30;
    }

    .header_info button {
        width: 30%;
        padding: 5;
        margin-top: 20;
        font-size: 14;
    }

    .header_info i {
        font-size: 16;
        margin-right: 5;
    }

    .nav_icons {
        margin-left: 0;
        margin: auto
    }

    .navbar-toggler {
        background-color: aliceblue;
        font-size: 14;
        margin-right: 2%;
        z-index: 999;
    }

    .icon {
        font-size: 14
    }

    .navbar-collapse {
        background-color: black !important;
        padding-bottom: 50;
        z-index: 999;
    }
}

@media(min-width:767px) and (max-width:992px) {

    .navbar-brand,
    .logo {
        margin-left: 0px;
        font-size: 18
    }

    .nav_icons {
        margin-left: 0;
        margin: auto
    }

    .logo a i {
        margin-left: 30;
        font-size: 18
    }

    .header_img img {
        width: 200;
        height: auto;
    }

    header {
        height: 100vh;
    }

    .header_info {
        right: 5%;
        padding-right: 15px
    }

    .header_info h1 {
        font-size: 22;
    }

    .header_info h2 {
        font-size: 20
    }

    .header_info h3 {
        font-size: 18
    }

    .header_info button {
        width: 35%;
        padding: 5;
        margin-top: 20;
        font-size: 16;
    }

    .header_info i {
        font-size: 14;
        margin-right: 5;
    }

    .navbar-toggler {
        background-color: aliceblue;
        font-size: 14;
        margin-right: 2%
    }

    .icon {
        font-size: 14
    }

    .navbar-collapse {
        background-color: black !important;
        padding-bottom: 50;
    }

}

@media(min-width:992px) and (max-width:1200px) {

    .navbar-brand,
    .logo {
        margin-left: 0px;
        font-size: 16;
    }

    .logo a i {
        font-size: 20;
        margin-left: 50;
    }

    .navbar-collapse {
        background-color: transparent !important;
    }

    .header_img {
        width: 20%;
        max-width: 150;
    }

    .nav-item {
        margin: auto;
        margin: 0px 5px
    }

    .nav_icons {
        margin-left: 50;
    }

    .icon {
        margin-right: 25;
        font-size: 12
    }

    .header_info h1 {
        font-size: 24;
    }

    .header_info h2 {
        font-size: 22
    }

    .header_info h3 {
        font-size: 20
    }

    .header_info button {
        width: 25%;
        padding: 5;
        margin-top: 20;
        font-size: 12;
        max-width: 120;
    }

    .header_info i {
        font-size: 16;
        margin-right: 5;
    }

}

@media(min-width:1200px) {
    .icon {
        font-size: 14
    }

    .header_info button {
        width: 25% !important;
        padding: 7;
        margin-top: 50;
        font-size: 14;
        max-width: 200
    }

    .header_info i {
        font-size: 20;
    }

    .navbar-collapse {
        background-color: transparent !important;
    }

}


/*-------------------------------------------------------------------------------------*/



.section2 {
    margin-top: 150;
    margin-bottom: 100
}

.section2 span {
    font-size: 50;
    color: #8E44AD
}

.section2 h3 {
    color: black;
}

.section2 .col-md-4 {
    text-align: center;
}

@media(max-width:768px) {
    .section2 h3 {
        margin-bottom: 10;
        margin-top: 20
    }

    .section2 h3 {
        font-size: 20
    }

    .section2 span {
        font-size: 35
    }


}

/*------------------------------------------------*/

.title_features {
    width: 100%;
    text-align: center;

}

.title_features h2 {
    margin-bottom: 20;
    color: black;
}

.section3 {
    background-image: linear-gradient(to right, #6a3093, #a044ff);
    height: 70vh;
    margin-top: 200;
    margin-bottom: 250;
}

.section3 h3 {
    color: white;
    margin: 3%;
    font-size: 20;
    font-weight: 600;
}

.features_left,
.features_right {
    margin-top: 50;
    text-align: center;
}

.features_left span i,
.features_right span i {
    font-size: 30;
    color: white;
}

.features_left p,
.features_right p {
    color: white;
}

.mid_div {
    position: relative;
}

.img_features {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: -100;

}

.img_features img {
    width: 100%;
    height: auto;
    max-width: 300;
    max-height: 600;
}

@media(max-width:768px) {
    .mid_div {
        display: none;
    }

    .section3 {
        margin-top: 200;
    }

    .title_features h2 {
        font-size: 20;
    }

    .section3 {
        height: auto;
        padding: 50px 10px
    }

    .title_features {
        margin-top: 100;
        position: relative;
        top: 100
    }
}

@media(min-width:768px) and (max-width:992px) {
    .img_features img {
        padding-right: 10%;
    }

    .img_features {
        top: 5%
    }

    .section3 {
        height: auto;
        padding: 50px 10px
    }

    .title_features {
        margin-top: 100;
        position: relative;
        top: 100
    }

}

@media(min-width:992px) and (max-width:1200px) {
    .section3 {
        height: auto;
        padding: 50px 10px
    }

}

@media(min-width:1200px) {
    .section3 {
        height: auto;
    }
}

/*------------------------------------------------------------------------------*/


.section4 {
    background-color: blueviolet;
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 200;
    position: relative;
    margin-bottom: 200;
    max-height: 600;
}

.front_div {

    background-color: white;
    width: 60vw;
    height: 80vh;
    text-align: center;
    padding: 10;
    box-shadow: 1px 1px 10px;
    position: absolute;
    top: -5vh;
    left: 5vw;
}

.front_div h2 {
    color: deeppink;
    margin: 30px 0px;
}

.front_div p {
    color: black;
    line-height: 2;
    font-size: 16;
    padding: 15;
}

.front_div button {
    background-color: #FA4377;
    border-radius: 30px;
    color: white;
    font-size: 12;
    padding: 10;
}

.contain_img {
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.contain_img img {
    width: 100%;
    height: auto;
}

@media(max-width:450px) {
    .section4 {
        height: 100%;
        width: 100%;
        margin-top: 80;
    }

    .front_div {
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .front_div button {
        padding: 10;
        width: 30% !important;
        margin-top: 10;
    }

    .contain_img img {
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 100;
    }
}

@media(min-width:450px) and (max-width:768px) {
    .section4 {
        height: 100%;
        width: 100%;
        margin-top: 80;
    }

    .front_div {
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .front_div button {
        padding: 10;
        width: 30% !important;
        margin-top: 10;
    }

    .contain_img img {
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 100;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .section4 {
        width: 100vw;
    }

    .front_div {
        width: 100vw;
        height: auto;
        top: 0;
        left: 0;
    }

    .front_div button {
        width: 30%;
        max-width: 300;
    }

    .contain_img {
        margin-top: 20%
    }
}

@media(min-width:992px) and (max-width:1250px) {
    .section4 {
        width: 90vw;
    }

    .front_div {
        width: 80vw;
        height: auto;
        top: -10vh;
    }

    .front_div button {
        width: 30%;
        max-width: 300;
    }

    .contain_img {
        margin-top: 0%
    }

    .front_div p {
        padding: 5;
        line-height: 1.5;
    }
}

@media(min-width:1250px) {
    .section4 {
        width: 70vw;
        height: 70vh;
    }

    .front_div {
        width: 60vw;
        height: 80vh;
        top: -5vh;
    }

    .front_div button {
        width: 30%;
        max-width: 300;
    }
}


/*-----------------------------------------------------------------------------------------------*/


.price_div {
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to top, #ad5389, #3c1053);
    border-radius: 15px;
    margin-bottom: 50;
    margin-top: 100
}

.price_div h2 {
    color: white;
    padding-top: 50;
}

.price_div h3 {
    color: red;
    padding-bottom: 20;
}

.price_div span {
    color: red;
}

.price_div li {
    list-style-type: none;
    line-height: 4;
    font-size: 20;
    color: white;
}

.price_div ul {
    padding: 0;
}

.price_div button {
    background-color: white;
    padding: 10;
    font-size: 18;
    width: 40%;
    border-radius: 30px;
    color: red;
    font-weight: 600;
    margin-top: 20;
    margin-bottom: 40;
    transition: all .2s;
}

.price_div button:hover {
    transform: translateY(-10px);
}

.title_section5 {
    width: 100%;
    text-align: center;
}

.title_section5 h2 {
    color: black;
    margin-bottom: 50;
}

@media(max-width:768px) {
    .price_div li {
        font-size: 14;
    }

    .price_div {
        margin-bottom: -20
    }

    .price_div button {
        font-size: 12;
    }

    .price_div h2 {
        font-size: 20;
    }

    .price_div h3 {
        font-size: 18;
    }

    .title_section5 h2 {
        font-size: 25;
        margin-bottom: -20;
        margin-top: 100
    }
}

@media(min-width:768px) and (max-width:992px) {
    .price_div li {
        font-size: 16;
    }

    .price_div button {
        font-size: 12;
    }

    .price_div h2 {
        font-size: 22;
    }

    .price_div h3 {
        font-size: 20;
    }
}

@media(min-width:992px) {
    .price_div li {
        font-size: 18;
    }

    .price_div button {
        font-size: 14;
    }

    .price_div h2 {
        font-size: 24;
    }

    .price_div h3 {
        font-size: 22;
    }
}


/*----------------------------------------------------------------------------------------------------*/
.info_img {
    width: 100%;
}

.info_img img {
    width: 100%;
    height: auto;
}

.section6 {
    text-align: center;
    margin-top: 100;
}

.section6 h1 {
    margin-top: 150;
    margin-bottom: 50;
}

.section6 p {
    line-height: 2;
    font-size: 20;
    margin-bottom: 40;
}

.section6 button {
    padding: 10;
    width: 25%;
    background-color: #FA4377;
    color: white;
    font-weight: 600;
    font-size: 20;
}

.title_how {
    width: 100%;
    text-align: center;
}

.title_how h2 {
    color: black;
    margin-top: 100;
}

@media(max-width:450px) {
    .section6 h1 {
        font-size: 22
    }

    .section6 p {
        font-size: 18
    }

    .section6 button {
        font-size: 14;
        width: 40%
    }

    .title_how h2 {
        font-size: 20;
        margin-top: -150;
    }

    .info_img img {
        margin-bottom: -50
    }

}

@media(min-width:450px) and (max-width:768px) {
    .section6 h1 {
        font-size: 24
    }

    .section6 p {
        font-size: 20
    }

    .section6 button {
        font-size: 12;
        width: 30%
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .section6 h1 {
        margin-top: 20;
        font-size: 25
    }

    .section6 p {
        font-size: 18
    }

    .section6 button {
        font-size: 15;
        width: 30%
    }

}

@media(min-width:1200px) {
    .section6 h1 {
        margin-top: 50;
        font-size: 30
    }

    .section6 p {
        font-size: 20
    }

    .section6 button {
        font-size: 16;
        width: 30%
    }
}

/*--------------------------------------------------------------------------------------------------*/


.more_img {
    width: 100%;
}

.more_img img {
    width: 100%;
    height: 100%;
    ;

}

.section7 {
    margin-top: 80;
    /* background-image: linear-gradient(#6441A5,#2a0845);*/
    background-color: black;
    text-align: center;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    min-height: 250;
}

.section7 .formg {
    width: 100%;
    margin: auto;
}

.section7 label {
    font-size: 16;
    color: white;
    margin-top: 25;
}

.section7 form {
    margin: auto;
    width: 50%;
}

.section7 input {
    margin-bottom: 1%;
    max-width: 300;
    max-height: 25;
    border-radius: 30px
}

.section7 button {
    margin-top: 30;
    padding: 5;
    width: 50%;
    max-width: 150;
    min-width: 120;
    font-size: 12;
}

.title_contact {
    width: 100%;
    text-align: center;
}

.title_contact h2 {
    color: black;
    margin-top: 120;
}


@media(max-width:768px) {
    .section7 form {
        width: 90%;
        margin: auto !important
    }

    .more_img img {
        width: 100%;
        height: auto;
        margin-top: 20%
    }

    .section7 input {
        margin: 0;
        width: 100%;
        height: 25
    }

    .section7 label {
        font-size: 16;
    }

    .section7 button {
        font-size: 12;
    }

    .title_contact h2 {
        font-size: 25
    }

    .section7 {
        height: auto
    }

}

@media(min-width:768px)and (max-width:992px) {
    .section7 input {
        margin: 0;
        width: 100%;
        height: 25
    }

    .section7 label {
        font-size: 16;
    }

    .section7 button {
        width: 80%;
        font-size: 12;
    }

    .title_contact h2 {
        font-size: 25
    }
}


/*-----------------------------------------------------------------------------*/

.title_comments {
    width: 100%;
    text-align: center;
}

.title_comments h2 {
    color: black;
    margin-top: 150;
}

.section8 {
    margin-top: 80;
}

.carousel-inner {
    position: relative;
    background: linear-gradient(to right, #ad5389, #3c1053);
    min-height: 400;
}

.carousel-caption {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.carousel-caption h5 {
    color: white;
    font-weight: 600;
    font-size: 20;
    margin-bottom: 20
}

.carousel-caption p {
    color: white;
    font-size: 16;
}

.carousel-item {
    width: 100%;
    height: 60vh;
}

.carousel-caption img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30;

}

.img_comment {
    width: 100%;
}

.img_comment img {
    width: 100%;
    height: 60vh;
}

@media(max-width:992px) {
    .carousel-caption {
        width: 85%;
        display: block !important;
    }

    .carousel-caption h5 {
        font-size: 18;
    }

    .carousel-caption p {
        font-size: 12;
        padding: 20
    }

    .carousel-caption img {
        width: 90;
        height: 90;
        margin-top: 60
    }

    .img_comment img {
        height: auto;
    }

    .carousel-item {
        height: auto
    }

    .section8 {
        margin-bottom: -100
    }

    .title_comments h2 {
        font-size: 20;
    }
}




/*-----------------------------------------------------------------------*/
.information {
    overflow: hidden;
    margin-top: 200;
    text-align: center;
}

.information h2 {
    color: black;
}

.img_info {
    width: 100%;
    text-align: center;
    height: auto;
}

.img_info img {
    width: 50%;
    height: auto;
}


@media(max-width:768px) {
    .information h2 {
        font-size: 20;
        margin-bottom: 50
    }
}

@media(min-width:768px) and (max-width:992px) {
    .img_info img {
        width: 80%;
        height: 25%;
        margin-bottom: 20
    }

    .information h2 {
        font-size: 22
    }
}

@media(min-width:992px) {
    .information h2 {
        font-size: 22
    }

    .img_info img {
        width: 50%;
        height: 20%;
        margin-bottom: 20
    }
}

/*-----------------------------------------*/

footer {
    background-color: black;
    color: aliceblue;

}

.footer_div a {
    color: aliceblue;
    text-decoration: none
}

.footer_div {
    text-align: center;
}

.footer_div h4 {
    margin-top: 50;
    font-size: 15;
    color: white;
    margin-bottom: 20;
    font-weight: 600;
}

.footer_div p {
    font-size: 12;
}

@media(min-width:768px) {
    footer {
        margin-top: 50
    }
}